@font-face {
font-family: 'BYekan';
src: url('./fonts/BYekan.eot') format('eot'),
url('./fonts/BYekan.ttf') format('truetype'),
url('./fonts/BYekan.woff') format('woff');
}
@font-face {
font-family: 'f9';
src: url('./fonts/BYekan.eot') format('eot'),
url('./fonts/BYekan.ttf') format('truetype'),
url('./fonts/BYekan.woff') format('woff');
}
@font-face {
font-family: 'yekan';
src: url('./fonts/BYekan.eot') format('eot'),
url('./fonts/BYekan.ttf') format('truetype'),
url('./fonts/BYekan.woff') format('woff');
}

